.img-raisins,.photo-raisins{background-image:url("Treemeantus website page.png");background-size:240%;background-position:36% 52%;background-repeat:no-repeat;background-color:#f7f3ea}
.img-duo{background-image:url("Treemeantus website page.png");background-size:cover;background-position:center 58%;background-repeat:no-repeat;background-color:#f7f3ea}
